# 캐시 파일 무시
__pycache__/

# 데이터셋 폴더 무시
/datasets/
/data/

# 로그 폴더 무시
/lightning_logs/
/wandb/

# 특정 노트북 파일 무시
/Diffusion_Models_pytorch.ipynb

# 체크포인트 폴더 무시
/checkpoints/

/wxxk/
/cifar/
/ema/


/gg.py
/dd.py
/wxxk_conditional_ema.pt
/utils copy.py
